
.navbar {
    height: 36px;
    padding: 10px;
    background-color: #8a8ab6;

    display: grid;
    grid-auto-columns: 130px;
    grid-auto-flow: column;
    align-items: start;
    
    overflow: visible;
}

.drop-down {
    box-sizing: border-box;
    padding: 5px;
    width: 120px;
    background-color: rgb(57, 52, 52);
    text-align: center;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
}

.drop-down:hover {
    background-color: grey;
}


.drop-down-item {
    text-align: justify;
    padding: 10px;
}

.drop-down-item:hover {
    background-color: #8a8ab6;
}