.hidden {
    display: none;
}

.drop-down {
    box-sizing: border-box;
    padding: 5px;
    width: 120px;
    background-color: rgb(57, 52, 52);
    text-align: center;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
}

.drop-down:hover {
    background-color: grey;
}
